include ./blocks/primitives/input/input

doctype html
html(lang="en")
  head
    meta(
      charset="utf8"
      keywords="hotel"
      description="hotel"
      name="viewport"
      content="initial-scale=1.0, width=device-width"
    )
    title hotel
    style
      include styles/main.scss
  body
    include blocks/complex/header/header.pug
    main.main main
      +input
    include blocks/complex/footer/footer.pug

