include blocks/complex/header/header

doctype html
html(lang="en")
  head
    meta(
      charset="utf8"
      keywords="hotel"
      description="hotel"
      name="viewport"
      content="initial-scale=1.0, width=device-width"
    )
    title hotel
    style
      include styles/main.css
  +header
  body
    p Body section
  include blocks/complex/footer/footer